@import "../../app.scss";

$baseFontSize: 16px; // Define your base font size

.hero {
  height: calc(100vh - 6.25vw); // Subtract 100px from 100vh converted to vw
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 85.0625vw; // Convert 1366px to vw
    height: 100%;
    margin: auto;

    .textContainer {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.5vw; // Convert 40px to vw

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 1.25vw; // Convert 20px to vw
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 1.875vw; // Convert 30px to vw
        color: aqua;
        letter-spacing: 0.625vw; // Convert 10px to vw
      }

      h1 {
        font-size: 5.5vw; // Convert 88px to vw

        @include mobile {
          font-size: 2.25vw; // Convert 36px to vw
        }
      }

      .buttons {
        button {
          padding: 1.25vw; // Convert 20px to vw
          border: 0.0625vw solid white; // Convert 1px to vw
          border-radius: 0.625vw; // Convert 10px to vw
          background-color: transparent;
          color: white;
          margin-right: 1.25vw; // Convert 20px to vw
          cursor: pointer;
          font-weight: 300;
        }
      }

      img {
        width: 3.125vw; // Convert 50px to vw
      }
    }
  }

  .imageContainer {
    height: 43.75vh; // Convert 70% to vh
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 2.1875vw; // Convert 35px to vw

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border-color: blue;
      object-fit: cover;
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 12.5vw; // Convert 50vh to vw
    bottom: -7.5vh; // Convert -120px to vh
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
